/belajar.html
/css
/ddp - Shortcut.lnk
/devv.py
/FINALL_DDP.py
/image
/index.html
/js
/latihan.py
/mata uang.png
/matkom.py
/PEMW
/pertemuan 12
/pertemuan9
/project.py
/proyek.py
/pw
/Teuku Muhammad Devandra Muda DDP.zip
/video